@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3498db;
  --primary-dark: #2980b9;
  --secondary: #2ecc71;
  --secondary-dark: #27ae60;
  --turquoise: #1abc9c;
  --turquoise-dark: #16a085;
  --purple: #9b59b6;
  --purple-dark: #8e44ad;
  --dark: #34495e;
  --dark-darker: #2c3e50;
  --yellow: #f1c40f;
  --yellow-dark: #f39c12;
  --orange: #e67e22;
  --orange-dark: #d35400;
  --red: #e74c3c;
  --red-dark: #c0392b;
  --light-gray: #ecf0f1;
  --gray: #95a5a6;
  --gray-light: #bdc3c7;
  --gray-dark: #7f8c8d;
  --black: #000;
  --white: #fff;
  --text-color: #2c3e50;
  --tw-bg-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--light-gray);
  overflow-y: overlay;
  background: var(--dark-darker);
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.bg-gradient-primary {
  background-image: linear-gradient(to right top, var(--primary), var(--secondary)) !important;
}

.bg-gradient-danger {
  background-image: linear-gradient(to right top, var(--red), var(--red-dark)) !important;
}

.border-primary {
  border-color: var(--yellow);
}

.font-roboto {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
}
