@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --tw-bg-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: rgba(255 255 255 / var(--tw-bg-opacity));
  overflow-y: overlay;
  background: rgba(15 23 42 / var(--tw-bg-opacity));
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.bg-gradient-primary {
  background-image: linear-gradient(to right top, #24b4ec, #5cf58f) !important;
}

.bg-gradient-danger {
  background-image: linear-gradient(to right top, #f03746, #eb1919) !important;
}

.border-primary {
  border-color: #ffb86c;
}

.font-roboto {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
}
